
<html>
    <head>
        <title> WEB700_APP_PMALINNAG </title>
            <meta charset="UTF-8">
    <link rel="stylesheet" href="./public/css/theme.css"/> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <nav class='navbar navbar-expand-lg navbar-light bg-light'></nav>
            <h1>Welcome to my website</h1>
                <div class='collapse navbar-collapse' id='navbarSupportedContent'>
                    <ul class='navbar-nav mr-auto'>
                    <h3>
                    {{#navLink'/'}}Home {{/navLink}}
                    {{#navLink'/about'}}About{{/navLink}}
                    {{#navLink'/htmlDemo'}}HTMLDemo{{/navLink}}                                       
                    {{#navLink'/addStudent'}}Add Student{{/navLink}}
                    {{#navLink'/students'}}Students{{/navLink}}
                    {{#navLink'/tas'}}Teaching Assistants{{/navLink}}
                    {{#navLink'/courses'}}Courses{{/navLink}}
                    </h3>
                    </ul>
                </div>
        </nav>
        <div class='container'>
            {{{body}}}
        </div>
                <hr />
                            
                            <article>
                                
                                    <h5>I will be demonstrating HTML5 principles and techniques, Routing in Express.
                                    </h5>
                                            <p>
                                                This site utilizes HTML5: a markup language used for structuring and presenting content on the World Wide Web.
                                                This site utilizes HTML5: a markup language used for structuring and presenting content on the World Wide Web.
                                                This site utilizes HTML5: a markup language used for structuring and presenting content on the World Wide Web.
                                                This site utilizes HTML5: a markup language used for structuring and presenting content on the World Wide Web</h6>
                                            </p>
                                        </br></br>
                                        <h6>
                                        {{#navLink'/students'}} All Students{{/navLink}}
                                        {{#navLink'/student'}}Students by Course{{/navLink}}</br></br>
                                        {{#navLink'/students'}}Student By Student Number{{/navLink}}
                                        {{#navLink'/course'}}All Courses{{/navLink}}
                                        </h6>
                            
                            </article>
                            <div class="fixed-footer" style="color:brown; font-family: cursive; font-size: x-small;">
                                Web700 App by 147010219    
                            </div>
                        </body>
                    </html>
                    <!-- End your code here  -->