<!DOCTYPE html>
<html>
	<head>

		<title>WEB700_147010219</title>
		<link href="./public/css/theme.css"rel="stylesheet"/> 
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

	</head>

	<body>
		<header>
			<h2>
                About
			</h2>
						
			<h3>
				<a class="nav-link" href="home.html"> Home </a>
				<a class="nav-link" href="about.html"> About</a> 
				<a class="nav-link" href="htmlDemo.html">HTMLDemo</a></li>
				<a class="nav-link" href="/students">Students</a></li>
				<a class="nav-link" href="/tas">Teaching Assistants</a></li>
				<a class="nav-link" href="/courses">Courses</a></li>
			</h3>
			<hr /><hr />
                       
            <article>            
			<h6>
            	<ul>Name: Precious Marie E. Malinnag</ul>
                <ul>Student ID: 147010219</ul>
                <ul>Program: Business Information Technology </ul>
                <ul>College: Seneca College, SIA</ul>
            </h6>
			<div>
            <h5> Contact us:</h5>
			<h6><ul>Tel. no: 742-65-76 | Mobile no: (647)-290-0578</ul>
            <ul>Email us at: pmalinnag@myseneca.ca</ul>
            <ul>Mailing Address: P.O. box 99, Seneca College, Toronto, Ontario</ul>
            </h6>    
			</div>
            </article>
		</header>
    </body>
 </html>					