<div class='row'>
    <main class='col-md-12'>
        <div class='jumbotron'>
			<h3>
				<a class="nav-link" href="home.html"> Home </a>
				<a class="nav-link" href="about.html"> About</a> 
				<a class="nav-link" href="htmlDemo.html">HTMLDemo</a></li>
				<a class="nav-link" href="addStudent.html">Add Student</a></li>
				<a class="nav-link" href="/students">Students</a></li>
				<a class="nav-link" href="/tas">Teaching Assistants</a></li>
				<a class="nav-link" href="/courses">Courses</a></li>
			</h3>        
            <article>            
			<h6>
            	<ul>Name: Precious Marie E. Malinnag</ul>
                <ul>Student ID: 147010219</ul>
                <ul>Program: Business Information Technology </ul>
                <ul>College: Seneca College, SIA</ul>
            </h6>
			<div>
            <h5> Contact us:</h5>
			<h6><ul>Tel. no: 742-65-76 | Mobile no: (647)-290-0578</ul>
            <ul>Email us at: pmalinnag@myseneca.ca</ul>
            <ul>Mailing Address: P.O. box 99, Seneca College, Toronto, Ontario</ul>
            </h6>    
			</div>
        </div>
    </main>	
</div>       			