<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>My Web Page</title>
    </head>

    <body>
        <!-- This is a comment -->
        <h1>Welcome to my website</h1>
    

        <article>
            <header>
                <h3>I will be demonstrating HTML5 principles and techniques</h3>
                <nav>
                    <ul>
                        <a href="home.html"> Home </a> 
                        <a href="about.html">  | About </a> 
                        <a href="htmlDemo.html">  | HTML Demo </a> 
                    </ul>
                </nav>
                <ol>
                    <a id = "students" href="http://localhost:8080/students"><li>All Students</li></a>
                    <a id = "students" href="http://localhost:8080/students/?course=4"><li>Students by Course</li></a>
                    <a id = "students" href="http://localhost:8080/student/5"><li>A Single Student By Student Number</li></a>
                    <a id = "students" href="http://localhost:8080/tas"><li>All Managers</li></a>
                    <a id = "students" href="http://localhost:8080/Courses"><li>All Courses</li></a>
                    <li>Students by Course</li>
                    <li>A Single Student By Student Number</li>
                    <li>All Managers</li>
                    <li>All Courses</li>
                </ol>
                
            </p>
            </header>
        </article>
        <div>
            
        </div>
    </body>
</html>
