<div class='row'>
  <main class='col-md-12'>
        <h1>Welcome to my website</h1>
            <h3>
                    <a class="nav-link" href="home.html"> Home </a>
                    <a class="nav-link" href="about.html"> About</a> 
                    <a class="nav-link" href="htmlDemo.html">HTMLDemo</a></li>
                    
                    <a class="nav-link" href="addStudent.html">Add Student</a></li>
                    <a class="nav-link" href="/students">Students</a></li>
                    <a class="nav-link" href="/tas">Teaching Assistants</a></li>
                    <a class="nav-link" href="/courses">Courses</a></li>
            </h3>
            <hr />        
        <article>
                <h5>
                    I will be demonstrating HTML5 principles and techniques, Routing in Express.
                </h5>
                        <p>
                            This site utilizes HTML5: a markup language used for structuring and presenting content on the World Wide Web.
                            This site utilizes HTML5: a markup language used for structuring and presenting content on the World Wide Web.
                            This site utilizes HTML5: a markup language used for structuring and presenting content on the World Wide Web.
                            This site utilizes HTML5: a markup language used for structuring and presenting content on the World Wide Web</h6>
                        </p>
                    </br></br>
                    <h6>
                    <a id = "students" href="http://localhost:8080/students"><li>All Students</li></a> 
                    <a id = "students" href="http://localhost:8080/students/?course=4"><li>Students by Course</li></a></br></br>
                    <a id = "students" href="http://localhost:8080/student/5"><li>A Single Student By Student Number</li></a>
                    <a id = "students" href="http://localhost:8080/tas"><li>All Managers</li></a>
                    <a id = "students" href="http://localhost:8080/Courses"><li>All Courses</li></a>
                    </h6>
        
        </article>
        <div class="fixed-footer" style="color:brown; font-family: cursive; font-size: x-small;">
            Web700 App by 147010219    
        </div>
    </main>
</div>
