<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>HTML DEMO</title>
    </head>

    <body>
        <article>
            <h1>
                Play with HTML code
            </h1>
                <table border="1">
                    <caption>Tutorial on HTML</caption>
                    <thead>
                        <th>Chapter/ Lesson</th>
                        <th>Duration</th>
                        <th>Learning outcome</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>3 hours</td>
                            <td>Learn basic syntax and html tags</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>2 hours</td>
                            <td>Paragraphs and styles</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>3 hours</td>
                            <td>Table contents</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>2 hours</td>
                            <td>Styling in depth</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <td colspan="2"><b>Total hours</b></td>
                        <td>10 hours</td>
                    </tfoot>
                </table>
                <br>
                <br>
                <br>
                <table border="2">
                    <caption>Assessments</caption>
                    <thead>
                        <th>Assessment Type</th>
                        <th>Weight</th>
                        <th>Group/Individual</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Quiz</td>
                            <td>25%</td>
                            <td>Individual</td>
                        </tr>
                        <tr>
                            <td>Coding</td>
                            <td>35%</td>
                            <td>Individual</td>
                        </tr>
                        <tr>
                            <td>Project</td>
                            <td>40%</td>
                            <td>Group</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <td colspan="2"><b>Total marks</b></td>
                        <td>100%</td>
                    </tfoot>
                </table>
            
            <br>
            <br>
            <br>

            <h1>Lists</h1>

                <ol type="I">
                    <li>HTML Introduction</li>
                    <li>HTML Editors</li>
                    <li>HTML Elements</li>
                    <li>HTML Headings</li>
                    <li>HTML Paragraphs</li>
                    <li>HTML Styling</li>
                </ol>


                <ul type="A">
                    <li>HTML Formatting</li>
                    <li>HTML Images</li>
                    <li>HTML Lists</li>
                    <li>HTML CLasses</li>
                    <li>HTML Layout</li>
                    <li>HTML Charset</li>
                </ol>
            

            <h1>Images</h1>
            <img src="https://upload.wikimedia.org/wikipedia/commons/6/69/Snowboarder_in_halfpipe.jpg" height="200" width="200">
            <img src="https://commons.wikimedia.org/wiki/Main_Page#/media/File:Lincoln_Center_during_pride_at_dusk_(93381p).jpg" height="200" width="200">
            <p>
                All are welcome to our free tutorial class online and enjoy learning HTML
            </p>

            <h1>Audio</h1>
            <audio src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.mp3" controls></audio>
            <audio src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.ogg" controls></audio>

            <h1>Video</h1>
            <video src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.mp4" controls></video>
            <video src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.ogg" controls></video>
            <video src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.webm" controls></video>

            <p>
                Successfully rendered video and audio files
            </p>
        </article>
    </body>
</html>
