<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>HTML DEMO</title>
        <link href="./public/css/theme.css"rel="stylesheet"/> 
    </head>

    <body>
        <article>
                <h2>
                    Play with HTML code
                </h2>
                <h3>
                    <a class="nav-link" href="home.html"> Home </a>
                    <a class="nav-link" href="about.html"> About</a> 
                    <a class="nav-link" href="htmlDemo.html">Html Demo</a></li>
                    <a class="nav-link" href="addStudent.html">Add Student</a></li>
                    <a class="nav-link" href="/students">Students</a></li>
                    <a class="nav-link" href="/tas">Teaching Assistants</a></li>
                    <a class="nav-link" href="/courses">Courses</a></li>
                </h3>
                <hr/>
                    
                <article>
                        <table border="1">
                            <caption>Tutorial on HTML</caption>
                            <thead>
                                <th>Chapter/ Lesson</th>
                                <th>Duration</th>
                                <th>Learning outcome</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>3 hours</td>
                                    <td>Learn basic syntax and html tags</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>2 hours</td>
                                    <td>Paragraphs and styles</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>3 hours</td>
                                    <td>Table contents</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>2 hours</td>
                                    <td>Styling in depth</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <td colspan="2"><b>Total hours</b></td>
                                <td>10 hours</td>
                            </tfoot>
                        </table>
                        
                        <br>
                        <br>
                        <br>

                        <table border = "2">
                            <caption>Assessments</caption>
                            <thead>
                                <th>Assessment Type</th>
                                <th>Weight</th>
                                <th>Group/Individual</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Quiz</td>
                                    <td>25%</td>
                                    <td>Individual</td>
                                </tr>
                                <tr>
                                    <td>Coding</td>
                                    <td>35%</td>
                                    <td>Individual</td>
                                </tr>
                                <tr>
                                    <td>Project</td>
                                    <td>40%</td>
                                    <td>Group</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <td colspan="2"><b>Total marks</b></td>
                                <td>100%</td>
                            </tfoot>
                        </table>
                    </br>
                    
                    <h2>Lists</h2>
                    <p>
                            HTML Introduction</br>
                            HTML Editors</br>
                            HTML Elements</br>
                            HTML Headings</br>
                            HTML Paragraphs</br>
                            HTML Styling</br>
                        </br></br>
                            HTML Formatting</br>
                            HTML Images</br>
                            HTML Lists</br>
                            HTML CLasses</br>
                            HTML Layout</br>
                            HTML Charset</br>
                    </p>

                    <h4>Images</h4>
                    <img src="https://upload.wikimedia.org/wikipedia/commons/6/69/Snowboarder_in_halfpipe.jpg" height="200" width="200">
                    <img src="https://commons.wikimedia.org/wiki/Main_Page#/media/File:Lincoln_Center_during_pride_at_dusk_(93381p).jpg" height="200" width="200">
                    <h5>
                        All are welcome to our free tutorial class online and enjoy learning HTML
                    </h5>

                    <h4>Audio</h4>
                    <audio src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.mp3" controls></audio>
                    <audio src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.ogg" controls></audio>

                    <h4>Video</h4>
                    <video src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.mp4" controls></video>
                    <video src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.ogg" controls></video>
                    <video src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.webm" controls></video>

                    <p>
                        Successfully rendered video and audio files
                    </p>
            
      </article>
    </body>
</html>
