<div class="row">
    <div class="col-md-12">
        <br>
            <h2>Students</h2>
            <hr />
            <p>TODO: render a list of all course id's and names here</p></br>
            <p> {{#each students}}
                    <p>Last Name: {{lastName}}</p>
                    <p>First Name: {{firstName}}</p>           
                {{/each}}
            </p>
    </div>
</div>
