h1{
    color: rgb(218, 0, 0);
    font-size: 12px;
}
h2{
    color: rgba(255, 255, 0, 0.925);
    font-size: 12px;
}
h3{
    color: blue;
    font-size: 12px;
}
h4{
    color: rgb(218, 0, 0);
    font-size: 12px;
}
h5{
    color: rgba(255, 255, 0, 0.925);
    font-size: 12px;
}
h6{
    color: blue;
    font-size: 12px;
}